@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);









body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
.btn {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn:not(.btn-social) {
  border-radius: 30px;
  padding: 17px 50px;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #fffffd !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #1a768b !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #e52a1b !important;
}
.btn-primary {
  background-color: #fffffd;
  border-color: #fffffd;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #ffffb1;
  border-color: #ffffb1;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffffb1 !important;
  border-color: #ffffb1 !important;
}
.btn-secondary {
  background-color: #a25dae;
  border-color: #a25dae;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #763f7f;
  border-color: #763f7f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #763f7f !important;
  border-color: #763f7f !important;
}
.btn-info {
  background-color: #1a768b;
  border-color: #1a768b;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #0e3f4b;
  border-color: #0e3f4b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0e3f4b !important;
  border-color: #0e3f4b !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #e52a1b;
  border-color: #e52a1b;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a11d12;
  border-color: #a11d12;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a11d12 !important;
  border-color: #a11d12 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffff97;
  color: #ffff97;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fffffd;
  border-color: #fffffd;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fffffd !important;
  border-color: #fffffd !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #66376e;
  color: #66376e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #a25dae;
  border-color: #a25dae;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a25dae !important;
  border-color: #a25dae !important;
}
.btn-info-outline {
  background: none;
  border-color: #0a2d35;
  color: #0a2d35;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #1a768b;
  border-color: #1a768b;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #1a768b !important;
  border-color: #1a768b !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #8a1910;
  color: #8a1910;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #e52a1b;
  border-color: #e52a1b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e52a1b !important;
  border-color: #e52a1b !important;
}
.text-primary {
  color: #fffffd !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #1a768b !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #e52a1b !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #1a768b;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #e52a1b;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fffffd;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fffffd;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fffffd;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fffffd;
}
.lead a,
.lead a:hover {
  color: #fffffd;
}
.lead blockquote {
  border-color: #fffffd;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #48c1dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fad5d2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  display: none;
}
/* DirectM */
a {
  color: #1a768b;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #fffffd;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #fffffd;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #fffffd;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Roboto', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #fffffd;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #ffffd9, #fffffd, #ffffff);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #fffffd !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #fffffd;
}
.tabs1 .colorBG {
  background-color: #fffffd;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #fffffd;
}
.content4 p {
  border-bottom: 3px solid #fffffd;
  border-top: 3px solid #fffffd;
}
/*follow1*/
.follow1 .btn-social {
  color: #fffffd;
  border-color: #fffffd;
}
.follow1 .btn-social:hover {
  color: #ffffff;
  background: rgba(255, 255, 253, 0.1);
  border-color: #ffffff;
}
/*share1*/
.share1 .btn-social {
  color: #fffffd;
  border-color: #fffffd;
}
.share1 .btn-social:hover {
  color: #ffffff;
  background: rgba(255, 255, 253, 0.1);
  border-color: #ffffff;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #fffffd;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Roboto', sans-serif;
}
.mbr-gallery-filter li {
  color: #1a768b;
}
.btn-empty:focus {
  color: #fffffd;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #1a768b;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #fffffd;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #fffffd;
}
.hamburger-icon {
  background-color: #fffffd !important;
}
.hamburger-icon:before {
  background-color: #fffffd;
}
.hamburger-icon:after {
  background-color: #fffffd;
}
#header6-2 H3 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}
#header6-2 P {
  text-align: left;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
#header6-2 B {
  font-size: 46px;
}
#header6-2 .btn {
  font-family: 'Montserrat', sans-serif;
}
#features18-8 {
  
  
}
#features18-8 .card .mbr-iconfont {
  color: #db6654;
  border-color: #db6654;
}
#features18-8 .mbr-table-cell {
  vertical-align: middle;
}
#features18-8 .card .mbr-iconfont {
  color: #db6654;
  border-color: #db6654;
}
#features18-8 .mbr-table-cell {
  vertical-align: middle;
}
#features18-8 .heading-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #424242;
}
#features18-8 .card-title DIV {
  font-size: 15px;
  color: #424242;
}
#features18-8 P {
  color: #424242;
}
#features18-8 .card-title B {
  color: #bb412e;
  font-size: 18px;
}
#features18-8 h4 {
  color: #000;
}
#features18-8 h1 {
  font-size: 50px;
}
#content8-l H3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#content8-l B {
  font-size: 30px;
}
#pricing-table3-m {
  
}
#pricing-table3-m .mbr-section__container .mbr-section-subtitle {
  font-size: 12px;
}
#pricing-table3-m .mbr-section__container .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}
#pricing-table3-m .mbr-price-table {
  padding-bottom: 0px;
}
#form1-g .form {
  background: #fff;
}
#form1-g h1 {
  font-size: 50px;
}
#form1-g .form1 .form {
  border: 0px solid #efeff0;
  padding: 2rem 1rem;
}
#form1-g .heading-title {
  margin-bottom: 0em;
}
#content3-q .mbr-section-title,
#content3-q .mbr-section-subtitle {
  text-align: center;
}
#content3-q H1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#content3-q h1 {
  font-size: 50px;
}
#features9-r .mbr-iconfont {
  color: #1a768b;
  border-color: #1a768b;
}
#features9-r .card-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
#features9-r .card-text {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
